name: CMake

on: 
  push: {}
  pull_request: {}

env:
  BUILD_TYPE: Release

jobs:
  macos:
    runs-on: macos-15-intel
          
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 0
    
    - name: Install Dependencies
      run: |
        brew install llvm mpv
        
    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build OFS
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: |
        cmake --build . --config $BUILD_TYPE --target "OpenFunscripter"
    
          
    - uses: actions/upload-artifact@v4
      with:
        name: OFS-64x_${{github.sha}}.zip
        path: ${{ github.workspace }}/bin
        retention-days: 14
